@import '../../../assets/styles/variables.css';

.profileBox {
  position: relative;
  width: 90%;
  height: 90%;
}

.figureBox {
  gap: 1.2rem;
  padding: 1.2rem;
}

.characterImage {
  width: 15rem;
  height: 15rem;
  border-radius: 1.2rem;
  border: solid 1px var(--main-color);
  padding: 2px;
}

.characterName {
  font-size: 1.4rem;
}
