.addCharacterContainer {
  z-index: 999;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.15);
  text-align: center;
}

.hidden {
  display: none;
}

.show {
  display: block;
}