.characterBoxContainer {
  position: relative;
  background-color: rgba(255, 255, 255, 0.1);
  width: 40%;
  grid-template-columns: 1fr 1fr 14.5rem;
  gap: 1.2rem;
  justify-self: left;
  padding: 1.4rem;
  border-radius: 1.4rem;
}
